body{
    font-family: 'Righteous';
}

.navbar{
    background-color: rgba(20, 68, 116);
    width: 100%;
}

#logout{
    height: 30px;
    width: 30px;
}

#nav-logout a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    font-family: 'Righteous';
}

.navbar-brand{
    color: white;
    font-family: 'Righteous';
}

.navigation>ul{
    list-style: none;
}

li{
    padding: 20px;
}

.nav-col{
    background-color: black;
    padding-top: 40px;
    height: 600px;
    font-family: 'Righteous';
}

.navigation ul li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.navigation ul li:hover{
background-color: rgba(255, 255, 255, 0.119);
}

#cat-img{
    padding: 2px;
    background-color: white;
    height: 20px;
    width: 20px;
}

#category, #products, #offers, #addCategory, #editCategory, #viewCategory, #deleteCategory, #addProduct, #editProduct,
#deleteProduct, #viewProduct, #addOffers, #editOffers, #deleteOffers, #viewOffers{
    display: none;
    font-family: 'Righteous';
}

#additems{
    height: 100px;
    width: 100px;
    margin-top: 7px;
}

.admin-icons{
    background-color: rgba(248, 249, 250, 0.5);
    width: 200px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 3px 3px white;
}

.admin-icons:hover{
    background-color: rgba(0, 0, 0, 0.185);
    transform: scale(1.2); 
    box-shadow: 0 0 3px 3px inset white;
}

.cat-table{
    margin-top: 100px;
}

.error{
    color: red;
    font-size: 10px;
}

#catViewTable, #catEditTable, #catDeleteTable, #prodViewTable, #prodDeleteTable, #prodEditTable, #offerViewTable, #offerDeleteTable, #offerEditTable{
    width: 100%;
    margin: auto;
    text-align: center;
    border: 1px rgba(0, 0, 0, 0.265) solid;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.194);
}

#catViewTable tr th, #catEditTable tr th, #catDeleteTable tr th, #prodViewTable tr th, #prodDeleteTable tr th, #prodEditTable tr th, #offerViewTable tr th, #offerDeleteTable tr th, #offerEditTable tr th{
    background-color: rgba(0, 0, 0, 0.411);
    color: #fff;
    border: 1px rgba(0, 0, 0, 0.265) solid;
    padding: 5px;
}

#catViewTable tr td, #catEditTable tr td, #catDeleteTable tr td, #prodViewTable tr td, #prodDeleteTable tr td, #prodEditTable tr td, #offerViewTable tr td, #offerDeleteTable tr td, #offerEditTable tr td{
    border: 1px rgba(0, 0, 0, 0.265) solid;
    padding: 5px;
    text-decoration: none;
}

#editCatForm, #prodEditForm, #offerEditForm{
    display: none;
}